*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 10px;
}
.nav-1{
    display: flex;
    align-items: center;  
}
.nav-1 h1{
    font-size: 2rem;
    font-weight: bold;
}
.nav-2{
    display: flex;
    gap: 1.4rem;  
}
.nav-2 li {
    list-style: none;
}
.li-1{
    color:orange ;
    font-size: 1.3rem;
    font-weight: bold;
}
.li-2{
    color:skyblue ;
    font-size: 1.3rem;
    font-weight: bold;
}
.li-3{
    color:tomato ;
    font-size: 1.3rem;
    font-weight: bold;
}
.li-4{
    color: rgba(93, 88, 239, 1);
    font-size: 1.3rem;
    font-weight: bold;
}
.nav-2 li a {
    text-decoration: none;
}
.nav-btn{
 padding: 8px 35px 8px 35px;
 border: none;
 background-color:orange ;
 border-radius: 8px;
 color: white;
 font-size: 1.4rem;
 font-weight: 400px;
}
.hamburger-icon{
    display: none;
    font-size: 2rem;

}
/* nav bar compleate*/


/*Empowering section */
.Empowering{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 30px;
}
.Empowering-title{
    font-size:2rem;
    font-weight:bold ;
    margin-bottom: 20px;
}
.Empower{
    color: orange;
}
.towards{
    color:skyblue ;
}
.describtion{
 font-size: 1.4rem;
 margin-bottom: 20px;
}
.Empowering-btn{
    background-color: black;
    color: white;
    padding: 8px 19px 8px 19px;
    border-radius: 8px;
}
.Empowering-img img{
    max-width: 400px;
}
/*Empowering section compleate */


@media screen and (max-width:576px) {
   /* responsive style of navbar for mobile */ 
    nav{
        border-bottom: 2px solid orange;
        padding-bottom: 5px;
    }
    .display,.nav-2 ,.nav-btn{
        display: none;
    }
    .hamburger-icon{
        display:block;
    }
    /* responsive style of Empowering section for mobile */
    .Empowering{
        flex-direction: column;
        flex-direction: column-reverse;
       text-align: center;
       max-width: 90%;
       margin: 0 auto;
    }
    .Empowering-img img{
        max-width: 90%;
        margin: 0 auto;
    }

}

