*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    margin-top: 10px;
}
.nav-1{
    display: flex;
    align-items: center;  
}
.nav-1 h1{
    font-size: 2rem;
    font-weight: bold;
}
.nav-2{
    display: flex;
    gap: 1.4rem;  
}
.nav-2 li {
    list-style: none;
}
.li-1{
    color:orange ;
    font-size: 1.3rem;
    font-weight: bold;
}
.li-2{
    color:skyblue ;
    font-size: 1.3rem;
    font-weight: bold;
}
.li-3{
    color:tomato ;
    font-size: 1.3rem;
    font-weight: bold;
}
.li-4{
    color: rgba(93, 88, 239, 1);
    font-size: 1.3rem;
    font-weight: bold;
}
.nav-2 li a {
    text-decoration: none;
}
.nav-btn{
 padding: 8px 35px 8px 35px;
 border: none;
 background-color:orange ;
 border-radius: 8px;
 color: white;
 font-size: 1.4rem;
 font-weight: 400px;
}
.hamburger-icon{
    display: none;
    font-size: 2rem;

}
/* nav bar compleate*/


/*Empowering section */
.Empowering{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 30px;
}
.Empowering-title{
    font-size:2rem;
    font-weight:bold ;
    margin-bottom: 20px;
}
.Empower{
    color: orange;
}
.towards{
    color:skyblue ;
}
.describtion{
 font-size: 1.4rem;
 margin-bottom: 20px;
}
.Empowering-btn{
    background-color: black;
    color: white;
    padding: 8px 19px 8px 19px;
    border-radius: 8px;
}
.Empowering-img img{
    max-width: 400px;
}
/*Empowering section compleate */

/* standard section  */
.standard-background{
 background-image:url('assets/bg.png');
 width: 100%;
 background-size: cover;
 margin-top: 50px;
}
.standard{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
   
}
.standard h1{
 font-weight: bold;
 font-size: 2.5rem;
 margin-bottom: 50px;
}
.standard-all-card{
    display: flex;
    gap: 30px;
}
.standard-card-1{
    max-width:300px ;
    min-height: 400px;
    background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1)20%,white 80%);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow:  -1px  1px  2px grey;
    
}
.standard-card-2{
    max-width:300px ;
    min-height: 400px;
    background-image: linear-gradient(to bottom, rgba(255, 244, 220, 1)20%,white 80%);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow:  -1px  1px  2px grey;
    
}
.standard-card-3{
    max-width:300px ;
    min-height: 400px;
    background-image: linear-gradient(to bottom, rgba(242, 232, 255, 1)20%,white 80%);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow:  -1px  1px  2px grey;
    
}
.standard-card-1-img{
    margin-bottom: 20px;
    margin-top: 30px;
}
.standard-card-1-h5{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.standard-card-1-describtion{
    font-size: 0.9rem;
    font-weight: 400px;
    margin-bottom: 30px;
}
.standard-card-1-link a{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    color:rgba(100, 200, 255, 1) ;
   
}
.arrow{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}
.arrow-1{
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 10px;

}
.arrow-2{
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 10px;

}
/* standard section compleate */


@media screen and (max-width:576px) {
   /* responsive style of navbar for mobile */ 
    nav{
        border-bottom: 2px solid orange;
        padding-bottom: 5px;
    }
    .display,.nav-2 ,.nav-btn{
        display: none;
    }
    .hamburger-icon{
        display:block;
    }
    /* responsive style of Empowering section for mobile */
    .Empowering{
        flex-direction: column;
        flex-direction: column-reverse;
       text-align: center;
       max-width: 90%;
       margin: 0 auto;
    }
    .Empowering-img img{
        max-width: 90%;
        margin: 0 auto;
    }
 /* responsive style of standard section for mobile */
    .standard-all-card{
        flex-direction: column;
        
    }
    .standard-card-1 ,
    .standard-card-2 ,
    .standard-card-3{
        max-width: 90%;
        margin: 0 auto;
    }
    .arrow{
        display: none;
    }
}

